<!doctype html>
<html lang="en" style="scroll-padding-top: 5rem; scroll-behavior: smooth;">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ description }}">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#1f1f1f" media="(prefers-color-scheme: dark)">
  <meta name="keyword" content="{{ keyword }}">
  <meta name="author" content="{{ author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ rootURL }}/asset/index/favicon.ico">
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}">
  {% if cover %}
  <meta property="og:image" content="{{ rootURL }}{{ cover | firstCoverImage }}">
  {% else %}
    <meta property="og:image" content="{{ rootURL }}/asset/index/cover.webp">
  {% endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" id="twitter-description" content="{{ description }}">
  {% if cover %}
    <meta name="twitter:image" content="{{ rootURL }}{{ cover | firstCoverImage }}">
  {% else %}
    <meta name="twitter:image" content="{{ rootURL }}/asset/index/cover.webp">
  {% endif %}
  <link rel="stylesheet" href="/asset/css/style.css">
  <meta name="view-transition" content="same-origin">
  <!-- backup if lazysizes cdn doesn't work -->
  <script src="/asset/js/lazysizes.min.js"></script>
</head>
<body class="bg-base-200">
  <div class="sm:hero min-h-screen">
    {{ content }}
  </div>
  <!-- share modal -->
  <dialog id="share" class="modal">
    <div class="modal-box">
      <div role="alert" class="alert mb-4">
        <span>System anda tidak support web share API. Silahkan tekan tombol copy di bawah ini.</span>
      </div>
      <div class="flex items-center">
        <input
          type="text"
          id="share-url"
          value="{{ rootURL }}{{ page.url }}"
          class="input input-bordered w-full mr-4"
          aria-label="link"
          disabled/>
        <button 
          class="btn btn-primary" 
          onclick="copyToClipboard()">
          Copy
        </button>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- script copy to clipboard -->
  <script>
    function copyToClipboard() {
      const urlInput = document.getElementById('share-url');
      urlInput.select();
      urlInput.setSelectionRange(0, 99999); // For mobile devices
      navigator.clipboard.writeText(urlInput.value)
        .then(() => {
          alert('URL copied to clipboard');
        })
        .catch(err => {
          console.error('Failed to copy: ', err);
        });
    }

    function sharePost() {      
      if (!navigator.share) {
        // use modal if native share not compatible
        share.showModal()
        return
      }

      navigator.share({
        title: document.title,
        url: location.href
      }).catch((e) => {
        if (e.name !== 'AbortError') {
          console.warn(`Failed to use native share API. `, e);
          // fallback custom modal only if not aborted by user
          share.showModal();
        }
      });
    }
  </script>
</body>
