<footer class="footer bg-base-200 text-neutral-content items-center p-8 border-x-4 border-base-100">
  <aside>
    <div class="prose">
      <blockquote class="text-sm">
        <i>Selamat Hari Kemerdekaan RI 2024! Hari ini, kita merayakan bukan hanya kemerdekaan fisik, tetapi juga kemerdekaan dalam berpikir dan berkarya.</i>
      </blockquote>
    </div>
  </aside>
  <nav class="gap-4 grid-flow-col md:place-self-center md:justify-self-end">
    {% for item in sosmed.items %}
      <a class="text-base-content hover:text-primary" href="{{ item.url }}" aria-label="{{ item.aria-label }}">
        {{ item.name }}
      </a>
    {% endfor %}
  </nav>
</footer>