<div class="not-prose">
  <!-- Recent Photos -->
  <div class="mb-10">
    <div class="card bg-base-200 h-1/2 rounded-xl overflow-hidden">
      <!-- navbar -->
      <div class="navbar pl-4">
        <div class="navbar-start">
          <div class="text-md font-bold">
            Recent Photos
          </div>
        </div>
        <div class="navbar-end">
          <!-- button view Photos -->
          <a aria-label="See All Photos" href="/photos.html" class="btn btn-ghost btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <polyline
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                points="15 3 21 3 21 9"></polyline>
              <polyline
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                points="9 21 3 21 3 15"></polyline>
              <line
                x1="21"
                y1="3"
                x2="14"
                y2="10"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></line>
              <line
                x1="3"
                y1="21"
                x2="10"
                y2="14"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></line>
            </svg>
          </a>
        </div>
      </div>
      <!-- content -->
      <div class="carousel carousel-center">
        {% for photos in collections.recentPhotos %}
        <!-- link to post -->
        <div class="carousel-item">
          <a href="{{ photos.url }}" class="block">
            <!-- thumbnail -->
            <img src="{{ photos.data.thumbnail }}" alt="Image" class="aspect-square h-80 w-auto object-cover duration-300 ease-in-out hover:opacity-60">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Recent Blog -->
  <div class="card bg-base-200 rounded-xl overflow-hidden">
    <!-- navbar -->
    <div class="navbar pl-4 border-b border-base-100">
      <div class="navbar-start">
        <div class="text-md font-bold">
          Recent Blog
        </div>
      </div>
      <div class="navbar-end">
        <!-- button view Blog -->
        <a aria-label="View All Blog" href="/blog.html" class="btn btn-ghost btn-circle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <polyline
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              points="15 3 21 3 21 9"></polyline>
            <polyline
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              points="9 21 3 21 3 15"></polyline>
            <line
              x1="21"
              y1="3"
              x2="14"
              y2="10"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"></line>
            <line
              x1="3"
              y1="21"
              x2="10"
              y2="14"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"></line>
          </svg>
        </a>
      </div>
    </div>
    <!-- content -->
    <div class="px-4 py-2 flex flex-col gap-1">
      {% for post in collections.recentPosts %}
      <div>
        <p class="text-lg font-bold mb-2">
          <a class="link link-hover block" href="{{ post.url }}">{{ post.data.title }}</a>
        </p>
        <p class="text-sm sm:text-md mb-2">{{ post.data.description }}</p>
        <p class="text-sm">{{ post.data.date | date: "%a, %d %b %Y" }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
