<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ description }}">
  <meta name="keyword" content="{{ keyword }}">
  <meta name="author" content="{{ author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ rootURL }}/assets/index/favicon.ico">
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}">
  {% if cover %}
    <meta property="og:image" content="{{ rootURL }}{{ cover }}">
  {% else %}
    <meta property="og:image" content="{{ rootURL }}/assets/index/cover.webp">
  {% endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" id="twitter-description" content="{{ description }}">
  {% if cover %}
    <meta name="twitter:image" content="{{ rootURL }}{{ cover }}">
  {% else %}
    <meta name="twitter:image" content="{{ rootURL }}/assets/index/cover.webp">
  {% endif %}
  <link rel="stylesheet" href="/assets/css/style.css">
  <meta name="view-transition" content="same-origin">
  <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
  <style>
    :root {
        --pagefind-ui-primary: #3b82f6;
        --pagefind-ui-text: #313336;
        --pagefind-ui-background: #ffffff;
        --pagefind-ui-border: #c7cdd8;
        --pagefind-ui-tag: #10b981;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --pagefind-ui-primary: #3b82f6;
            --pagefind-ui-text: #a5a7af;
            --pagefind-ui-background: #111827;
            --pagefind-ui-border: #374151;
            --pagefind-ui-tag: #10b981;
        }
    }
</style>
</head>
<body class="bg-base-200" data-pagefind-body>
  <div class="sm:container m-0 p-0 sm:mx-auto sm:p-4 md:p-10">
    {{ content }}
  </div>
  <!-- search modal -->
  <dialog id="searchme" class="modal">
    <div class="modal-box">
      <div class="w-full">
        <div id="search" class="search"></div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- share modal -->
  <dialog id="share" class="modal">
    <div class="modal-box">
      <div class="flex items-center">
        <input
          type="text"
          id="share-url"
          value="{{ rootURL }}{{ page.url }}"
          class="input input-bordered w-full mr-4"
          disabled/>
        <button 
          class="btn btn-primary ml-2" 
          onclick="copyToClipboard()">
          Copy
        </button>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- pagefind script -->
  <script src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
  <!-- script copy to clipboard -->
  <script>
    function copyToClipboard() {
      const urlInput = document.getElementById('share-url');
      urlInput.select();
      urlInput.setSelectionRange(0, 99999); // For mobile devices
      navigator.clipboard.writeText(urlInput.value)
        .then(() => {
          alert('URL copied to clipboard');
        })
        .catch(err => {
          console.error('Failed to copy: ', err);
        });
    }

    function sharePost() {      
      if (!navigator.share) {
        // use modal if native share not compatible
        share.showModal()
        return
      }

      navigator.share({
        title: document.title,
        url: location.href
      }).catch((e) => {
        console.warn(`Failed to use native share API. `, e);
        share.showModal(); // fallback custom modal
      });
    }
  </script>
</body>