---
title: Blog
description: Hello friend? That's lame. Maybe i should give you a name. But that's slippery slope. You're only in my head. We have to remember that.
layout: base.html
cover: /assets/index/cover.webp
permalink: /blog.html
---
<div class="sm:container m-0 p-0 sm:mx-auto sm:p-4 md:p-10">
	<div class="the-card">
		<!-- cover -->
	  <figure>
	    <img src="{{ cover }}" alt="cover" />
	  </figure>
		<!-- navbar -->
		<div class="navbar bg-base-100 px-4 sticky top-0 z-50 border-b border-base-300">
			<div class="navbar-start">
				<!-- back home -->
				<a aria-label="home" href="/" class="btn btn-ghost btn-circle">
					<svg
	          xmlns="http://www.w3.org/2000/svg"
	          class="h-5 w-5"
	          fill="none"
	          viewBox="0 0 24 24"
	          stroke="currentColor">
	          <path
	            stroke-linecap="round"
	            stroke-linejoin="round"
	            stroke-width="2"
	            d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
	          <polyline
	            stroke-linecap="round"
	            stroke-linejoin="round"
	            stroke-width="2"
	            points="9 22 9 12 15 12 15 22" />
	        </svg>
				</a>
			</div>
			<div class="navbar-center">
				<div class="text-md sm:text-lg md:text-lg font-bold">{{ title }}</div>
			</div>
			<div class="navbar-end">
				<!-- search -->
				<button aria-label="search" class="btn btn-ghost btn-circle" onclick="searchme.showModal()">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
					</svg>
				</button>
				<!-- categories -->
				<div class="dropdown dropdown-end">
					<div aria-label="categories" tabindex="0" role="button" class="btn btn-ghost btn-circle">
						<svg
						  xmlns="http://www.w3.org/2000/svg"
						  class="h-5 w-5"
						  fill="none"
						  viewBox="0 0 24 24"
						  stroke="currentColor">
						  <line
						    stroke-linecap="round"
						    stroke-linejoin="round"
						    stroke-width="2"
						    x1="8"
						    y1="6"
						    x2="21"
						    y2="6" />
						  <line
						    stroke-linecap="round"
						    stroke-linejoin="round"
						    stroke-width="2"
						    x1="8"
						    y1="12"
						    x2="21"
						    y2="12" />
						  <line
						    stroke-linecap="round"
						    stroke-linejoin="round"
						    stroke-width="2"
						    x1="8"
						    y1="18"
						    x2="21"
						    y2="18" />
						  <line
						    stroke-linecap="round"
						    stroke-linejoin="round"
						    stroke-width="2"
						    x1="3"
						    y1="6"
						    x2="3.01"
						    y2="6" />
						  <line
						    stroke-linecap="round"
						    stroke-linejoin="round"
						    stroke-width="2"
						    x1="3"
						    y1="12"
						    x2="3.01"
						    y2="12" />
						  <line
						    stroke-linecap="round"
						    stroke-linejoin="round"
						    stroke-width="2"
						    x1="3"
						    y1="18"
						    x2="3.01"
						    y2="18" />
						</svg>
					</div>
					<ul
						tabindex="0"
						class="menu menu-md dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow-xl border border-base-200">
						{% for tag in collections.blogTags %}
						<li><a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<!-- content -->
		<div class="card-body">
			<div class="flex-grow">
				<div class="w-full">
					<ul class="grup flex flex-col gap-4">
						{% for post in collections.posts reversed %}
						<li>
							<p class="text-md text-primary sm:text-lg font-bold mb-2">
								<a class="link link-hover" href="{{ post.url }}">{{ post.data.title }}</a>
							</p>
							<p class="text-sm sm:text-md mb-2">{{ post.data.description | limitWords: 30 }}</p>
							<p class="text-sm">{{ post.data.date | date: "%a, %d %b %Y" }}</p>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<!-- Footer credit -->
		<div class="text-center py-4 border-t border-base-300">
			{% include "footer-credit.html" %}
		</div>
	</div>
</div>