---
layout: base.html
---
<div class="sm:container m-0 p-0 sm:mx-auto sm:p-4 md:p-10">
  <div class="card rounded-none sm:rounded-xl bg-base-100 shadow-xl w-full md:max-w-3xl mx-auto">
    <!-- cover -->
    <figure>
      <img src="{{ cover }}" alt="cover" />
    </figure>
    <!-- profile pic -->
    <div class="relative -mt-16 tn:-mt-8 md:-mt-10 flex pl-8 items-center">
      <div class="avatar tn:pt-2 md:pt-0">
        <div class="tn:border tn:border-4 tn:border-base-100 w-14 shadow-xl tn:shadow-none tn:w-20 md:w-24 rounded-xl">
          <img src="{{ profile }}" alt="Avatar">
        </div>
      </div>
    </div>
    <!-- name, username, and button -->
    <div class="relative pl-8 pt-6 tn:pt-6 tn:-mt-20 tn:ml-24 md:ml-28 flex items-center justify-between">
      <div class="tn:pt-2">
        <div class="text-xl font-bold">{{ title }}</div>
        <div class="text-sm text-gray-500">{{ author }}</div>
      </div>
      <!-- buttons -->
      <div class="pr-4">
        <!-- search -->
        <button class="btn btn-ghost btn-circle" aria-label="search" onclick="searchme.showModal()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </button>
        <!-- Menu -->
        <div class="dropdown dropdown-end">
          <div tabindex="0" aria-label="menu" role="button" class="btn btn-ghost btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <line
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="8"
                y1="6"
                x2="21"
                y2="6" />
              <line
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="8"
                y1="12"
                x2="21"
                y2="12" />
              <line
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="8"
                y1="18"
                x2="21"
                y2="18" />
              <line
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="3"
                y1="6"
                x2="3.01"
                y2="6" />
              <line
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="3"
                y1="12"
                x2="3.01"
                y2="12" />
              <line
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                x1="3"
                y1="18"
                x2="3.01"
                y2="18" />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-md dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow-xl">
            <li><a href="/photos">Photos</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- content -->
    <div class="card-body pt-4 tn:pt-8">
      <div class="w-full">
        <div class="prose md:prose-lg">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="dark:border-t dark:border-gray-700 border-t border-gray-300"></div>
    <!-- Footer credit -->
    <div class="text-center py-4">
      <p>© 2024 <a class="hover:text-gray-500" href="https://apoxi.cam/">Apoxicam</a>.<br>All rights reserved.</p>
    </div>
  </div>
</div>