---
layout: main/base.html
---

<div class="sm:container m-0 p-0 sm:mx-auto sm:p-4 md:p-10">
	<div class="the-card">
    <!-- cover -->
    <figure>
      <img src="{{ cover }}" alt="cover" />
    </figure>
    <!-- Profile and menus -->
    {% include "nav/nav-index.html" %}
    <!-- content -->
    <div class="grow">
      <div class="card-body pt-4 tn:pt-8">
        <div class="w-full">
          <!-- title -->
          <div class="font-bold text-xl mb-4 text-center">{{ title }}</div>
          <div class="prose max-w-none">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    <!-- Footer credit -->
    {% include "footer/footer-sosmed.html" %}
    <div class="text-center py-4">
      {% include "footer/footer-credit.html" %}
    </div>
  </div>
</div>
